<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iEdu - 在线教育平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/index.css}" />
    <script type="text/javascript" th:src="@{~/js/common.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/community.css}" />
    <script type="text/javascript" th:src="@{~/js/community.js}"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body th:with="host=${#httpServletRequest.getAttribute('host')}, user=${#httpServletRequest.getAttribute('user')}, topThemes=${#httpServletRequest.getAttribute('topThemes')}, noneTopThemes=${#httpServletRequest.getAttribute('noneTopThemes')}">

<!--顶部导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/"><b>iEdu</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/CourseCenter">课程中心</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Community">社区中心</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About">关于网站</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </li>
        <form class="form-inline">
            <input id="search-input" class="form-control" type="text" placeholder="输入你想要找的内容">
            <button id="search-button" class="btn btn-secondary" type="button" onclick="searchCourses()">搜索</button>
        </form>
        <li class="nav-item">
            <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </li>
        <div class="nav-user float-right" th:switch="${user}">
            <!--无登录状态信息-->
            <div th:case="null">
                <li class="nav-item">
                    <a class="nav-link" th:href="'http://'+${host}+'/login'">登录/注册</a>
                </li>
            </div>
            <!--有登录状态信息-->
            <div th:case="*">
                <div class="dropdown">
                    <li class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" th:text="'当前用户：'+${user.username}"></li>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/UserCenter">个人中心</a>
                        <a class="dropdown-item" href="/UserCenter">账号管理</a>
                        <a class="dropdown-item" th:href="'http://'+${host}+':8080/user/logout'">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</nav>

<div id="headArea">
    <h1 id="pageTitle">社区论坛</h1>
    <span th:if="${user.role=='admin'}" href="/Community/UserManage">用户管理</span>
</div>

<div id="postsArea">
    <p id="ForumDataEmpty" th:if="${topThemes==null && noneTopThemes==null}">暂无帖子</p>
    <div th:if="${topThemes!=null || noneTopThemes!=null}">
        <div class="postRow" th:each="post:${topThemes}">
            <span th:if="${post.status=='top'}" th:text="'[置顶]'"></span>
            <span th:if="${post.status=='recommended'}" th:text="'[精品]'"></span>
            <span th:if="${post.status=='top-recommended'}" th:text="'[置顶][精品]'"></span>
            <a th:text="${post.title}" th:href="'/Post?pid='+${post.pid}"></a>
            <span class="postInfo" th:text="${post.publishDate}"></span>
        </div>
        <div class="postRow" th:each="post:${noneTopThemes}">
            <span th:if="${post.status=='top'}" th:text="'[置顶]'"></span>
            <span th:if="${post.status=='recommended'}" th:text="'[精品]'"></span>
            <span th:if="${post.status=='top-recommended'}" th:text="'[置顶][精品]'"></span>
            <a th:text="${post.title}" th:href="'/Post?pid='+${post.pid}"></a>
            <span class="postInfo" th:text="${post.publishDate}"></span>
        </div>
    </div>
</div>

<br><br><br>

<div id="replyArea">
    <form action="/newPost" method="post" onsubmit="return postSubmitCheck()">
        <input id="post_title_input" class="np_inputTitle" type="text" name="title" placeholder="在此输入主题">
        <br>
        <textarea id="post_content_input" class="np_inputContent" name="content" placeholder="在此输入正文内容"></textarea>
        <br>
        <input class="np_submit" type="submit" value="发布">
        <select id="post_type_input" class="np_inputType" name="type">
            <option value="discussion">讨论帖</option>
            <option value="help">求助帖</option>
            <option value="trade">交易帖</option>
            <option value="public">公告帖</option>
            <option value="chat">灌水帖</option>
        </select>
        <input type="hidden" name="uid" th:value="${user.uid}">
        <input type="hidden" name="userRole" id="userRole" th:value="${user.role}">
    </form>
</div>

</body>
</html>