<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iEdu - 在线教育平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/css/course-lession.css}" />
    <script th:src="@{~/js/common.js}"></script>
    <script th:src="@{~/js/course-lession.js}"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--jQuery_新浪CDN-->
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
</head>
<body th:with="host=${#httpServletRequest.getAttribute('host')},user=${#httpServletRequest.getAttribute('user')},course=${#httpServletRequest.getAttribute('course')},currentChapter=${#httpServletRequest.getAttribute('chapter')},currentLession=${#httpServletRequest.getAttribute('lession')},creator=${#httpServletRequest.getAttribute('creator')},comments=${#httpServletRequest.getAttribute('comments')},progress=${#httpServletRequest.getAttribute('progress')},lessionNo=${#httpServletRequest.getAttribute('lessionNo')}">

<!--顶部导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/"><b>iEdu</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/CourseCenter">课程中心</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Community">社区中心</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About">关于网站</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </li>
        <form class="form-inline">
            <input id="search-input" class="form-control" type="text" placeholder="输入你想要找的内容">
            <button id="search-button" class="btn btn-secondary" type="button">搜索</button>
        </form>
        <li class="nav-item">
            <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </li>
        <div class="nav-user float-right" th:switch="${user}">
            <!--无登录状态信息-->
            <div th:case="null">
                <li class="nav-item">
                    <a class="nav-link" th:href="'http://'+${host}+'/login'">登录/注册</a>
                </li>
            </div>
            <!--有登录状态信息-->
            <div th:case="*">
                <div class="dropdown">
                    <li class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" th:text="'当前用户：'+${user.username}"></li>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/UserCenter">个人中心</a>
                        <a class="dropdown-item" href="/UserCenter">账号管理</a>
                        <a class="dropdown-item" th:href="'http://'+${host}+':8080/user/logout'">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</nav>

<!--课程标题-->
<h4 th:text="${course.name+' ['+lessionNo+']'}" id="page-course-title"></h4>
<input id="lessionStat" type="hidden" value="unfinish">

<!--课程目录及视频窗口-->
<div class="course-lession-info">
    <!--课程结构及视频窗口-->
    <div th:with="chapters=${#httpServletRequest.getAttribute('chapters')},setItemNo=${#httpServletRequest.setAttribute('itemNo',1)}" class="course-structure">
        <div th:each="chapter : ${chapters}">
            <div th:text="${chapter.title}" class="card bg-secondary text-white card-body course-chapter"></div>
            <div th:with="lessions=${#httpServletRequest.getAttribute('chapterLessions'+chapter.chid)}">
                <div th:each="lession : ${lessions}" class="course-lession" th:with="itemNo=${#httpServletRequest.getAttribute('itemNo')}">
                    <div th:switch="${lession.lid}">
                        <div th:case="${currentLession.lid}">
                            <div th:if="${itemNo<=progress}">
                                <button class="btn btn-outline-secondary btn-sm btn-block course-lession-btn-current bg-secondary" disabled>[[${'['+itemNo+'] '+lession.title}]]<span class="badge badge-success lession-status">已完成</span></button>
                            </div>
                            <div th:if="${itemNo>progress}">
                                <button class="btn btn-outline-secondary btn-sm btn-block course-lession-btn-current bg-secondary" disabled>[[${'['+itemNo+'] '+lession.title}]]<span class="badge badge-secondary lession-status">未解锁</span></button>
                            </div>
                        </div>
                        <div th:case="*">
                            <div th:if="${itemNo<=progress}">
                                <button class="btn btn-outline-secondary btn-sm btn-block course-lession-btn" th:onclick="'toURL(\'/Lession?lid='+${lession.lid}+'\')'">[[${'['+itemNo+'] '+lession.title}]]<span class="badge badge-success lession-status">已完成</span></button>
                            </div>
                            <div th:if="${itemNo>progress}">
                                <button class="btn btn-outline-secondary btn-sm btn-block course-lession-btn" th:onclick="'toURL(\'/Lession?lid='+${lession.lid}+'\')'">[[${'['+itemNo+'] '+lession.title}]]<span class="badge badge-secondary lession-status">未解锁</span></button>
                            </div>
                        </div>
                        <script th:with="setItemNo=${#httpServletRequest.setAttribute('itemNo',itemNo+1)}"></script>
                    </div>
                </div>
            </div>
            <div th:with="exams=${#httpServletRequest.getAttribute('chapterExams'+chapter.chid)}">
                <div th:each="exam : ${exams}" class="course-lession" th:with="itemNo=${#httpServletRequest.getAttribute('itemNo')}">
                    <div th:if="${itemNo<=progress}">
                        <button class="btn btn-outline-secondary btn-sm btn-block course-lession-btn" th:onclick="'toURL(\'/Exam?eid='+${exam.eid}+'\')'">[[${'['+itemNo+'] '+exam.title}]]<span class="badge badge-success lession-status">已完成</span></button>
                    </div>
                    <div th:if="${itemNo>progress}">
                        <button class="btn btn-outline-secondary btn-sm btn-block course-lession-btn" th:onclick="'toURL(\'/Exam?eid='+${exam.eid}+'\')'">[[${'['+itemNo+'] '+exam.title}]]<span class="badge badge-secondary lession-status">未解锁</span></button>
                    </div>
                    <script th:with="setItemNo=${#httpServletRequest.setAttribute('itemNo',itemNo+1)}"></script>
                </div>
            </div>
        </div>
    </div>
    <!--视频窗口-->
    <div class="lession-video">
        <!--视频对象（未解锁的课程）-->
        <video th:if="${progress<lessionNo}" id="video-obj" width="100%" height="97.8%" controls oncanplay="init(false)" onplay="startVideoTimer();clearPauseTimer();" onpause="stopVideoTimer();startPauseTimer();" onseeked="setCurrentTime();clearPauseTimer();">
            <source th:src="${currentLession.videoUrl}" type="video/mp4">
            <script>document.getElementById("lessionStat").value = "unfinish";</script>
        </video>
        <!--视频对象（已完成的课程）-->
        <video th:if="${progress>=lessionNo}" id="video-obj-1" width="100%" height="97.8%" controls oncanplay="init(true)" onplay="recordReview()">
            <source th:src="${currentLession.videoUrl}" type="video/mp4">
            <script>document.getElementById("lessionStat").value = "finished";</script>
        </video>
        <!--进度条（未解锁的课程）-->
        <div th:if="${progress<lessionNo}" id="progress-bar-bg" class="progress-bar-bg" data-toggle="tooltip" title="当前进度：0%" data-original-title>
            <div id="progress-bar" class="progress-bar" style="width: 0%"></div>
            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
        </div>
        <!--进度条（已完成的课程）-->
        <div th:if="${progress>=lessionNo}" id="progress-bar-bg-1" class="progress-bar-bg" data-toggle="tooltip" title="当前进度：100%" data-original-title>
            <div id="progress-bar-1" class="progress-bar" style="width: 100%"></div>
            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
        </div>
    </div>
</div>

<br>
<img id="requestSender" src="">
<input id="hostConfig" th:value="${host}" th:attr="data-uid=${user.uid},data-cid=${course.cid},data-lid=${currentLession.lid}" type="hidden">

<!--教师后台-->
<a class="teacher-console" th:if="${user.uid==creator.uid}" th:href="'/Console?cid='+${course.cid}">教师后台>></a>

<br><br>

<!--评论区-->
<div class="comment-area">
    <h4 class="comment-area-title">最新评论</h4>
    <form>
        <textarea class="comment-text-area" placeholder="请输入你的评论"></textarea>
        <button class="comment-send-button">发表</button>
    </form>
    <!--用户评论-->
    <div th:each="comment : ${comments}" class="comment-floor">
        <div class="comment-main">
            <img class="comment-user-avatar" th:src="${comment.user.avatar}">
            <h5 class="comment-user-username">[[${comment.user.username}]] <span th:if="${comment.user.uid==creator.uid}" class="badge badge-warning">创建者</span></h5>
            <p class="comment-content-text" th:utext="${comment.content}"></p>
            <span class="comment-date" th:text="${comment.date}"></span>
            <a class="comment-link-reply" th:href="'#'">回复</a>
        </div>
        <div th:each="reply : ${comment.replies}">
            <h5 class="comment-reply-user">[[${reply.user.username}]] <span th:if="${reply.user.uid==creator.uid}" class="badge badge-warning">创建者</span>: </h5>
            <span th:utext="${reply.content}" class="comment-reply-content"></span>
            <span class="comment-date" th:text="' '+${comment.date}"></span>
        </div>
    </div>
</div>

<br><br><br>

<form id="video-action-param-form" action="/VideoAction" method="post">
    <input type="hidden" id="param-uid" name="uid" value="">
    <input type="hidden" id="param-lid" name="lid" value="">
    <input type="hidden" id="param-action" name="action" value="">
    <input type="hidden" id="param-timeBefore" name="timeBefore" value="">
    <input type="hidden" id="param-timeAfter" name="timeAfter" value="">
    <input type="hidden" id="param-actionTime" name="actionTime" value="">
</form>

</body>
</html>