<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iEdu - 在线教育平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/css/course-profile.css}" />
    <script th:src="@{~/js/common.js}"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body th:with="host=${#httpServletRequest.getAttribute('host')},user=${#httpServletRequest.getAttribute('user')},course=${#httpServletRequest.getAttribute('course')},creator=${#httpServletRequest.getAttribute('creator')},courseInfo=${#httpServletRequest.getAttribute('courseInfo')},role=${#httpServletRequest.getAttribute('role')}">

    <!--顶部导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><b>iEdu</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">首页</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/CourseCenter">课程中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Community">社区中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">关于网站</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </li>
            <form class="form-inline">
                <input id="search-input" class="form-control" type="text" placeholder="输入你想要找的内容">
                <button id="search-button" class="btn btn-secondary" type="button">搜索</button>
            </form>
            <li class="nav-item">
                <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </li>
            <div class="nav-user float-right" th:switch="${user}">
                <!--无登录状态信息-->
                <div th:case="null">
                    <li class="nav-item">
                        <a class="nav-link" th:href="'http://'+${host}+'/login'">登录/注册</a>
                    </li>
                </div>
                <!--有登录状态信息-->
                <div th:case="*">
                    <div class="dropdown">
                        <li class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" th:text="'当前用户：'+${user.username}"></li>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/UserCenter">个人中心</a>
                            <a class="dropdown-item" href="/UserCenter">账号管理</a>
                            <a class="dropdown-item" th:href="'http://'+${host}+':8080/user/logout'">退出登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <!--课程概要-->
    <div class="course-introduce">
        <img th:src="${course.image}" class="course-image rounded img-thumbnail">
        <div class="course-info">
            <h5 th:text="${course.name}" class="course-title"></h5>
            <p th:text="${course.description}" class="course-description"></p>
        </div>
    </div>

    <hr size="1" color="lightgray" width="95%">

    <!--课程结构-->
    <div th:with="chapters=${#httpServletRequest.getAttribute('chapters')}" class="course-structure">
        <div th:each="chapter : ${chapters}">
            <div th:text="${chapter.title}" class="card bg-primary text-white card-body course-chapter"></div>
            <div th:with="lessions=${#httpServletRequest.getAttribute('chapterLessions'+chapter.chid)}">
                <div th:each="lession : ${lessions}" class="course-lession">
                    <button th:if="${role=='student'||role=='creator'}" class="btn btn-outline-primary btn-sm btn-block course-lession-btn" th:onclick="'toURL(\'/Lession?lid='+${lession.lid}+'\')'">[[${lession.title}]]</button>
                    <button th:if="${role=='guest'}" class="btn btn-outline-primary btn-sm btn-block course-lession-btn" data-toggle="modal" data-target="#apply">[[${lession.title}]]</button>
                    <button th:if="${role=='anonymous'}" class="btn btn-outline-primary btn-sm btn-block course-lession-btn" onclick="toURL('/login')">[[${lession.title}]]</button>
                </div>
            </div>
            <div th:with="exams=${#httpServletRequest.getAttribute('chapterExams'+chapter.chid)}">
                <div th:each="exam : ${exams}" class="course-lession">
                    <button th:if="${role=='student'||role=='creator'}" class="btn btn-outline-primary btn-sm btn-block course-lession-btn" th:onclick="'toURL(\'/Exam?eid='+${exam.eid}+'\')'">[[${exam.title}]]</button>
                    <button th:if="${role=='guest'}" class="btn btn-outline-primary btn-sm btn-block course-lession-btn" data-toggle="modal" data-target="#apply">[[${exam.title}]]</button>
                    <button th:if="${role=='anonymous'}" class="btn btn-outline-primary btn-sm btn-block course-lession-btn" onclick="toURL('/login')">[[${exam.title}]]</button>
                </div>
            </div>
        </div>
    </div>

    <!--课程用户情况-->
    <div class="course-user">
        <p class="title-text"><b>创建者</b></p>
        <img class="creator-avatar" th:src="${creator.avatar}">
        <div class="creator-info">
            <p class="creator-name" th:text="${creator.username}"></p>
            <a class="content-text" href="">个人主页</a>
            <a class="content-text" href="">关注动态</a>
        </div>
        <br><br>
        <p class="title-text"><b>课程概况</b></p>
        <span class="content-text" th:text="'学习人数：'+${courseInfo.numberOfStudents}"></span>
        <br>
        <span class="content-text" th:text="'总课堂数：'+${courseInfo.numberOfLessions}"></span>
        <br th:if="${role=='guest'||role=='anonymous'}"><br th:if="${role=='guest'||role=='anonymous'}">
        <button th:if="${role=='anonymous'}" type="button" class="btn btn-primary" onclick="toURL('/login')">申请加入</button>
        <button th:if="${role=='guest'}" type="button" class="btn btn-primary" th:onclick="'toURL(\'/JoinCourse?uid='+${user.uid}+'&cid='+${course.cid}+'\')'">申请加入</button>
    </div>

    <br><br><br><br>

    <!-- 申请加入框 -->
    <div class="modal fade" id="apply">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">申请加入</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">检测到目前您不是该课程的成员，是否申请加入本课程？</div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:onclick="'toURL(\'/JoinCourse?uid='+${user.uid}+'&cid='+${course.cid}+'\')'">加入</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

</body>
</html>