<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iEdu - 在线教育平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/index.css}" />
    <script type="text/javascript" th:src="@{~/js/common.js}"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body th:with="host=${#httpServletRequest.getAttribute('host')}, user=${#httpServletRequest.getAttribute('user')}">

    <!--顶部导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><b>iEdu</b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CourseCenter">课程中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Community">社区中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">关于网站</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </li>
            <form class="form-inline">
                <input id="search-input" class="form-control" type="text" placeholder="输入你想要找的内容">
                <button id="search-button" class="btn btn-secondary" type="button" onclick="searchCourses()">搜索</button>
            </form>
            <li class="nav-item">
                <span class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </li>
            <div class="nav-user float-right" th:switch="${user}">
                <!--无登录状态信息-->
                <div th:case="null">
                    <li class="nav-item">
                        <a class="nav-link" th:href="'http://'+${host}+'/login'">登录/注册</a>
                    </li>
                </div>
                <!--有登录状态信息-->
                <div th:case="*">
                    <div class="dropdown">
                        <li class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" th:text="'当前用户：'+${user.username}"></li>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/UserCenter">个人中心</a>
                            <a class="dropdown-item" href="/UserCenter">账号管理</a>
                            <a class="dropdown-item" th:href="'http://'+${host}+':8080/user/logout'">退出登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <!--分类列表和轮播图-->
    <div id="main-info">
        <!--热门分类列表-->
        <div id="type-list" class="dropright" style="display:inline-block; vertical-align:top;">
            <div type="button" class="list-btn bg-dark" data-toggle="dropdown" style="color:white;padding:1rem"><b>热 门 分 类</b></div>
            <button type="button" class="list-btn btn btn-dark" data-toggle="dropdown">计算机/编程语言/数据分析</button>
            <button type="button" class="list-btn btn btn-dark" data-toggle="dropdown">多媒体/平面设计/图像处理</button>
            <button type="button" class="list-btn btn btn-dark" data-toggle="dropdown">办公室/办公软件/文档处理</button>
            <button type="button" class="list-btn btn btn-dark" data-toggle="dropdown">兴趣课/文化艺术/人文历史</button>
            <button type="button" class="list-btn btn btn-dark" data-toggle="dropdown">培训班/公关单位/营销策略</button>
        </div>

        <!--热门推荐轮播图-->
        <div id="image-carousel" class="carousel slide" data-ride="carousel" style="display: inline-block">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#image-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#image-carousel" data-slide-to="1"></li>
                <li data-target="#image-carousel" data-slide-to="2"></li>
            </ul>
            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{~/image/news1.jpg}">
                </div>
                <div class="carousel-item">
                    <img th:src="@{~/image/news2.jpg}">
                </div>
                <div class="carousel-item">
                    <img th:src="@{~/image/news3.jpg}">
                </div>
            </div>
            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#image-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#image-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <h5 class="view-title">精品课程</h5>
    <!--获取热门课程信息-->
    <div th:with="hot_courses=${#httpServletRequest.getAttribute('hot_courses')}" class="courses-view">
        <div th:each="course : ${hot_courses}" class="course-view" th:onclick="'toURL(\'/Course?cid='+${course.cid}+'\')'">
            <img th:src="${course.image}" class="course-image rounded img-thumbnail">
            <span th:text="${course.name}" class="course-title"></span>
            <span th:if="${course.status=='已完结'}" class="badge badge-success">· 已完结</span>
            <span th:if="${course.status=='更新中'}" class="badge badge-warning">· 更新中</span>
        </div>
    </div>

</body>
</html>