<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/login.css}" />
    <script type="text/javascript" th:src="@{~/js/login.js}"></script>
</head>

<body th:with="host=${#httpServletRequest.getAttribute('host')}">

    <div id="container">

        <div id="title"><b>你好，来访者</b></div>

        <div id="switcher">
            <div id="switchLogin" onclick="switchLogin()">登录</div>
            <div id="switchRegister" onclick="switchRegister()">注册</div>
        </div>

        <div id="paneLogin">
            <!--上一次登录失败返回此页面显示的信息-->
            <div th:if="${#httpServletRequest.getCookies()}!=null">
                <div th:each="cookie : ${#httpServletRequest.getCookies()}">
                    <p class="inputUserInfo" id="loginMsg" th:if="${cookie.getName().equals('msg')}" th:text="${cookie.getValue()}"></p>
                    <script th:if="${cookie.getName().equals('usr')}" th:with="setUsr=${#httpServletRequest.setAttribute('usr',cookie.getValue())}"></script>
                    <script th:if="${cookie.getName().equals('pwd')}" th:with="setPwd=${#httpServletRequest.setAttribute('pwd',cookie.getValue())}"></script>
                </div>
            </div>
            <form th:action="'http://'+${host}+':8080/user/login'" method="post">
                <input class="inputUserInfo" id="inputUsername" type="text" name="username" placeholder="请输入用户名" th:value="${#httpServletRequest.getAttribute('usr')}">
                <input class="inputUserInfo" id="inputPassword" type="password" name="password" placeholder="请输入密码" th:value="${#httpServletRequest.getAttribute('pwd')}">
                <input class="inputUserInfo" id="buttonLogin" type="submit" value="安全登录">
                <input id="remCheckbox" name="remember" type="checkbox">
                <label id="remText">记住我</label>
            </form>
            <a id="forgotPassword" href="">忘记密码</a>
        </div>

        <div id="paneRegister">
            <form action="" method="post">
                <input class="inputUserInfo" id="regUsername" type="text" name="username" placeholder="请输入用户名">
                <input class="inputUserInfo" id="regPassword" type="password" name="password" placeholder="请输入密码">
                <input class="inputUserInfo" id="regPassword2" type="password" name="password2" placeholder="再次确认密码">
                <input class="inputUserInfo" id="buttonRegister" type="submit" value="注册账户">
                <a id="privateAgreement" href="">用户隐私协议</a>
            </form>
        </div>
    </div>

</body>
</html>