#page-course-title{
    text-align: center;
    margin: 2rem;
}
.tips{
    font-size: 12px;
    color: gray;
}
.course-structure{
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow: scroll;
}
.course-user{
    display: inline-block;
    width: 28%;
    padding: 20px;
    background-color: lightgray;
    vertical-align: top;
}
.course-chapter{
    padding: 0.5rem 1rem !important;
    height: auto;
}
.course-lession{
}
.course-lession-btn{
    padding: 0.35rem !important;
    font-size: 12px !important;
}
.course-lession-btn-current{
    padding: 0.35rem !important;
    font-size: 12px !important;
    color: white !important;
}
.lession-status{
    float: right !important;
}
.title-text{

}
.content-text{
    font-size: 15px;
}
.course-lession-info{
    height: 26rem;
    overflow: hidden;
    margin-left: 7%;
}
.lession-video{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.progress-bar-bg{
    width: 100%;
    height: 3px;
    background-color: lightgray;
    cursor: pointer;
}
.progress-bar{
    height: 100%;
    background-color: darkorange !important;
    cursor: pointer;
}
/*评论区*/
.comment-area{
    margin: 0% 7%;
}
.comment-area-title{
    margin-bottom: 1rem;
}
.comment-text-area{
    width: 97%;
    height: 6rem;
    display: block;
    resize: none;
}
.comment-send-button{
    display: block;
    font-size: 14px;
    color: white;
    background-color: darkorange;
}
.comment-floor{
    background-color: lavender;
    margin: 0.5rem 0rem;
    width: 97%;
}
.comment-main{
    border-bottom: 1px solid lightgray;
}
.comment-user-avatar{
    width: 64px;
    display: inline-block;
}
.comment-user-username{
    display: inline-block;
    vertical-align: top;
}
.comment-content-text{

}
.comment-date{

}
.comment-link-reply{

}
.comment-reply-user{
    display: inline;
}
.comment-reply-content{

}
#requestSender{
    display: none;
}
.teacher-console{
    font-size: 13px;
    margin: 7%;
}
.annex-area{
    margin: 0% 7%;
}
.annex-link{
    font-size: 13px;
}
.annex-link[href$='.pdf']{
    background: transparent url(image/file_pdf.jpg) center right no-repeat;
}