.page-course-title{
    text-align: center;
    margin: 2rem;
}
.course-structure{
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow: scroll;
}
.course-user{
    display: inline-block;
    width: 28%;
    padding: 20px;
    background-color: lightgray;
    vertical-align: top;
}
.course-chapter{
    padding: 0.5rem 1rem !important;
    height: auto;
}
.course-lession{
}
.course-lession-btn{
    padding: 0.35rem !important;
    font-size: 12px !important;
}
.title-text{

}
.content-text{
    font-size: 15px;
}
.course-lession-info{
    height: 26rem;
    overflow: hidden;
    margin-left: 7%;
    margin-bottom: 200px;
}
.lession-video{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}